@inject IbnMasjjed.Admin.Models.LoggedUserModel loggedUserModel

@{
    ViewData["Title"] = "الرئيسية";

}

    <div class="row">


        <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
                <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-mobile"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">بيان</span>
                    <span class="info-box-number">111</span>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box">
                <span class="info-box-icon bg-info elevation-1"><i class="fas fa-users"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">بيان</span>
                    <span class="info-box-number">
                      2222
                    </span>
                </div>
            </div>
        </div>

        <div class="clearfix hidden-md-up"></div>

        <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
                <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-store"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">بيان</span>
                    <span class="info-box-number">  33333</span>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
                <span class="info-box-icon bg-success elevation-1"><i class="fas fa-car"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">بيان</span>
                    <span class="info-box-number">4444</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>

    </div>



